body {
	background-image: url(../images/back.png);
/*	font-family: 'Cabin', sans-serif;
*/
}
.container {
	width: 85%;
}
.header-top {
	overflow: hidden;
	padding: 10px;
	background-color: #fff;
	height: 20px;
}
.header-top-para {
	float: left;
	margin-left: 30px;
}
.header-top-ul {
	float: right;
	margin-right: 30px;
}
.header-top-ul li {
	list-style: none;
	float: left;
	margin-left: 10px;
}
.header-top-ul li a{
    text-decoration: none;
    color: #ababab;
    font-size: 0.9em;
    margin: 0em 1em;

}
.header-top-ul li a:hover {
	color: #4cb1ca;
}
.header-top-para p{
	font-size: 1em;
	color: #ababab;
}
.header-middle {
	padding: 40px;
	overflow: hidden;	
}
.logo {
	float: left;
}
.link-logo {
	float: right;
	margin-top: 1em;
}
.link-logo ul {
	list-style: none;
}
.link-logo ul li {
	float: left;
}
.link-logo i {
	background: url(../images/img-sprite.png)no-repeat -12px -11px;
	width: 50px;
	height: 50px;
	display: inline-block;
}
.link-logo ul li a .icon1 {
	background-position: -74px -11px;
}
.link-logo ul li a .icon2 {
	background-position: -135px -11px;
}
.link-logo ul li a .icon3 {
	background-position: -194px -11px;
}
.link-logo ul li a .icon4 {
	background-position: -248px -11px;
}
.header-bottom {
    background: #fff;
    border-bottom: 5px solid #f02b63;
    padding: 0 2em;
    height: 58px;
}
.header-bottom-ul {
	float: left;
}
.header-bottom-ul {
	overflow: hidden;
	margin-left: -38px;
	padding-top: 20px;
	height: 100%;
}
.header-bottom ul li {
	list-style: none;
	float: left;
	margin-left: 50px;
	height: 100%;
}
.header-bottom-ul li a {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}
.header-bottom-ul li a:hover {
	color: #f02b63;
	text-decoration: none;
}
.header-bottom-ul li a:focus {
	text-decoration: none;
}
.cart {
	float: right;
	padding-top: 20px;
}
.cart p {
	color: #ababab;
	font-size: 18px;
}
.cart .items {
	color: #4cb1ca;
	font-size: 16px;
	padding-left: 10px;
}
.cart .money {
 	color: #7db122;
 	padding-left: 10px;
}
.cart p a {
	background: url(../images/img-sprite.png)no-repeat -22px -81px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
}
.hoverbox {
	display: none;
    z-index: 100;
    width: 630px;
    border: 2px solid #cac9c9;
    height: auto;
    position: absolute;
    margin-top: 27px;
    margin-left: -40px;
    background-color: #fff;
    box-shadow: 0px 2px 4px #777;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}
.link-list {
	float: left;
	width: 32%
}
.link-list ul {
	float: initial;
}
.link-list .link-list-ul li {
	list-style: none;
	float: inherit;
	margin-left: 0px;
}
.link-list .link-list-ul li a{
    display: block;
    font-size: 1em;
    color: #777;
    text-transform: capitalize;
    line-height: 2em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 100;
}

.link-list .link-list-ul li a:hover {
	text-decoration: underline;
}
.link-list h4 {
	color: #000;
    border-bottom: 1px solid #dedede;
    margin-left: 22px;
    padding-bottom: 13px;
    font-size: 20px;
}
.cart-list {
    border: 3px solid #f02b63;
    position: absolute;
    width: 309px;
    margin-top: 16px;
    margin-left: -63px;
    background-color: #fff;
    height: auto;
    padding: 10px;
    display: none;
    z-index: 100;
}
.cart-list p {
    font-weight: 100;
    color: #ff1a45;
}
.goods {
	overflow: hidden;
	border-bottom: 1px dashed #dedede;
	padding-bottom: 20px;
}
.img-box {
	float: left;
}
.goods-box {
	float: left;
    padding-left: 28px;
}
.goods-box h4 {
	margin-top: 0px;
    margin-bottom: 0px;
    color: #7db122;
}
.goods-btn {
    background-color: rgb(91, 192, 222);
    color: #fff;
    display: block;
    height: 28px;
    width: 99px;
    margin-top: 8px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
}
.goods-btn:hover {
	background-color: #ff1a45;
	color: #fff;
	text-decoration: none;
}
.icon-close {
    background: url(../images/close.png);
    width: 10px;
    height: 10px;
    margin-top: 44px;
    margin-left: 42px;
}
.icon-close1 {
    position: absolute;
    background: url(../images/close.png);
    left: 292px;
    top: 169px;
    width: 10px;
    height: 10px;
}
.icon-close2 {
    position: absolute;
    background: url(../images/close.png);
    left: 292px;
    top: 247px;
    width: 10px;
    height: 10px;
}
.icon-close:hover {
	opacity: .8;
	background-color: #ccc;
}
.view-cart {
    text-align: center;
    font-size: 25px;
    line-height: 37px;
    padding-top: 10px;
    text-decoration: underline;
}
.view-cart a {
	color: #ff1a45;
}