body {
	background-image: url(../images/back.png);
/*	font-family: 'Cabin', sans-serif;
*/
}
.container {
	width: 85%;
}
.header-top {
	overflow: hidden;
	padding: 10px;
	background-color: #fff;
	height: 20px;
}
.header-top-para {
	float: left;
	margin-left: 30px;
}
.header-top-ul {
	float: right;
	margin-right: 30px;
}
.header-top-ul li {
	list-style: none;
	float: left;
	margin-left: 10px;
}
.header-top-ul li a{
    text-decoration: none;
    color: #ababab;
    font-size: 0.9em;
    margin: 0em 1em;

}
.header-top-ul li a:hover {
	color: #4cb1ca;
}
.header-top-para p{
	font-size: 1em;
	color: #ababab;
}
.header-middle {
	padding: 40px;
	overflow: hidden;	
}
.logo {
	float: left;
}
.link-logo {
	float: right;
	margin-top: 1em;
}
.link-logo ul {
	list-style: none;
}
.link-logo ul li {
	float: left;
}
.link-logo i {
	background: url(../images/img-sprite.png)no-repeat -12px -11px;
	width: 50px;
	height: 50px;
	display: inline-block;
}
.link-logo ul li a .icon1 {
	background-position: -74px -11px;
}
.link-logo ul li a .icon2 {
	background-position: -135px -11px;
}
.link-logo ul li a .icon3 {
	background-position: -194px -11px;
}
.link-logo ul li a .icon4 {
	background-position: -248px -11px;
}
.header-bottom {
    background: #fff;
    border-bottom: 5px solid #f02b63;
    padding: 0 2em;
    height: 58px;
}
.header-bottom-ul {
	float: left;
}
.header-bottom-ul {
	overflow: hidden;
	margin-left: -38px;
	padding-top: 20px;
	height: 100%;
}
.header-bottom ul li {
	list-style: none;
	float: left;
	margin-left: 50px;
	height: 100%;
}
.header-bottom-ul li a {
	color: #000;
	font-weight: bold;
	font-size: 16px;
}
.header-bottom-ul li a:hover {
	color: #f02b63;
	text-decoration: none;
}
.header-bottom-ul li a:focus {
	text-decoration: none;
}
.cart {
	float: right;
	padding-top: 20px;
}
.cart p {
	color: #ababab;
	font-size: 18px;
}
.cart .items {
	color: #4cb1ca;
	font-size: 16px;
	padding-left: 10px;
}
.cart .money {
 	color: #7db122;
 	padding-left: 10px;
}
.cart p a {
	background: url(../images/img-sprite.png)no-repeat -22px -81px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 5px;
}
.hoverbox {
	display: none;
    z-index: 100;
    width: 630px;
    border: 2px solid #cac9c9;
    height: auto;
    position: absolute;
    margin-top: 27px;
    margin-left: -40px;
    background-color: #fff;
    box-shadow: 0px 2px 4px #777;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}
.link-list {
	float: left;
	width: 32%
}
.link-list ul {
	float: initial;
}
.link-list .link-list-ul li {
	list-style: none;
	float: inherit;
	margin-left: 0px;
}
.link-list .link-list-ul li a{
    display: block;
    font-size: 1em;
    color: #777;
    text-transform: capitalize;
    line-height: 2em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 100;
}

.link-list .link-list-ul li a:hover {
	text-decoration: underline;
}
.link-list h4 {
	color: #000;
    border-bottom: 1px solid #dedede;
    margin-left: 22px;
    padding-bottom: 13px;
    font-size: 20px;
}
.cart-list {
    border: 3px solid #f02b63;
    position: absolute;
    width: 309px;
    margin-top: 16px;
    margin-left: -63px;
    background-color: #fff;
    height: auto;
    padding: 10px;
    display: none;
    z-index: 100;
}
.cart-list p {
    font-weight: 100;
    color: #ff1a45;
}
.goods {
	overflow: hidden;
	border-bottom: 1px dashed #dedede;
	padding-bottom: 20px;
}
.img-box {
	float: left;
}
.goods-box {
	float: left;
    padding-left: 28px;
}
.goods-box h4 {
	margin-top: 0px;
    margin-bottom: 0px;
    color: #7db122;
}
.goods-btn {
    background-color: rgb(91, 192, 222);
    color: #fff;
    display: block;
    height: 28px;
    width: 99px;
    margin-top: 8px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
}
.goods-btn:hover {
	background-color: #ff1a45;
	color: #fff;
	text-decoration: none;
}
.icon-close {
    background: url(../images/close.png);
    width: 10px;
    height: 10px;
    margin-top: 44px;
    margin-left: 42px;
}
.icon-close1 {
    position: absolute;
    background: url(../images/close.png);
    left: 292px;
    top: 169px;
    width: 10px;
    height: 10px;
}
.icon-close2 {
    position: absolute;
    background: url(../images/close.png);
    left: 292px;
    top: 247px;
    width: 10px;
    height: 10px;
}
.icon-close:hover {
	opacity: .8;
	background-color: #ccc;
}
.view-cart {
    text-align: center;
    font-size: 25px;
    line-height: 37px;
    padding-top: 10px;
    text-decoration: underline;
}
.view-cart a {
	color: #ff1a45;
}
#page {
    margin-top: 25px;
    text-align: right;
}
#page a {
    color: #4cb1ca;
    font-size: 18px;
    font-weight: 100;
    padding-right: 22px;
}
#page a:hover {
	text-decoration: none;
	opacity: .5
}
#page a:focus {
	text-decoration: none;
}
#page h6 {
	color: #999;
    font-size: 13px;
}
#page h6 b {
	color: #4cb1ca;
    font-size: 20px;
    font-weight: 100;
    padding-right: 20px;
}
.page-detail {

}
#content {
	background: #fff;
    padding: 2em 0em;
    z-index: -1;
}
.row {
	margin-left: 0px;
}
#showbox {
	border-right: 2px dashed #ccc;
}

.box {

}

.main-box {
	border: 1px solid #dedede;

}

.small-box {
	list-style: none;
	overflow: hidden;
	margin-left: 0px;
}
.box ul li {
    float: left;
    border: 2px solid rgba(0, 0, 0, 0.45);
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.box ul li img {
	width: 50px;
	height: 50px;
}
.active {
	border-color: #ea042f!important;
}


#box {
	position: relative;
}
#mian-box {
	position: relative;
	max-width: 100%;
}

.roomDiv {

    display: none;
    position: absolute;
   	top: 0px;
    left: 316px;
   	width: 600px;
    height: 510px;
    overflow: hidden;
    border: 1px solid #ccc;
    z-index: 15000;
}
#roomDiv img {
    position: absolute;
    z-index: 5;
	max-width: none;
}

#float-box {
    display: none;
    width: 160px;
    height: 120px;
    position: absolute;
    background: #ffffcc;
    border: 1px solid #ccc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#mark {
    position: absolute;
    display: block;
    width: 100%;
    height: 85%;
    background-color: #fff;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 10;
}

#details {

}
#details h4 {
    font-size: 1.5em;
    line-height: 33px;
    margin: 0;
    color: #747272;
    font-weight: 600;
}
#details h5 {
    font-size: 1.5em;
    line-height: 33px;
    margin: 0;
    color: #000;
    font-weight: 100;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}
.price-details {
    overflow: hidden;
    padding: 1.5em 0px;
}
.price-details p {
    float: left;
    font-size: 2em;
    color: #76b4ca;
}
.price-details a {
	float: right;
    font-size: 1.5em;
	color: #f02b63;
}

.available h6 {
    font-size: 1.5em;
    padding: 20px 0;
	color: #f02b63;
    font-weight: 100;
}
.available ul {
	list-style: none;
	overflow: hidden;
	margin-left: 0px;
}
.available ul li {
	float: left;
    display: inline-block;
    width: 40%;
}
.available ul li select {
	width: 60%;
}
.cart-an {
    background-color: #ff1a45;
    color: #fff;
    height: 36px;
    width: 120px;
    border: 1px solid #dedede;
    display: block;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
}
.cart-an:hover {
	text-decoration: none;
	background-color:#5bc0de; 
	color:#fff;
}
.cart-an:focus {
	text-decoration: none;
	color: #fff;
}
#details .share h4 {
	color: #f02b63;
	font-weight: 100;
	padding: 15px 0;
}
.share ul {
	list-style: none;
	overflow: hidden;
	margin-left: 0px;
}
.share ul li {
	display: inline-block;
     margin: 5px 6px; 	
}
.share ul li a{
    float: left;
    width: 40px;
    height: 40px;
    background-color: #5bc0de;
    border-radius: 50px;
}
.share ul li a img {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
}

#Carousel {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    height: 120px;
}

#Carousel ul{
	position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 10;
    list-style: none;
    height: 100%;
    width: 1720px;
}
#Carousel ul li {
	float: left;
	width: 172px;
}

.pre {
    background: url(../images/img-sprite.png)no-repeat -59px -76px;
    z-index: 30;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
}

.net{
    background: url(../images/img-sprite.png)no-repeat -93px -76px;
    z-index: 30;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 831px;
}

#span1 {
    padding: 0 1.5em;
    margin-left: 0;
    width: 215px;
}
.passible-about {

}
.possible-about h4 {
    color: #7db159;
    font-size: 22px;
    margin: 0;
    font-weight: 400;
}
.tab1 {
    box-shadow: 2px 5px 10px #888888;
    width: 100%;
    margin: 1em 0;
    
    border-radius: 5px;
    background-color: #fff;
}
.tab1 ul{
	list-style: none;
	overflow: hidden;
	margin: 0;
	background-color: rgba(0,0,0,0.05);
	cursor: pointer;
}
.tab1 ul li {
	line-height: 32px;
}
.sort {
	color: #9c9696;
    font-weight: 600;
    padding-left: 12px;
    float: left;
}
.sort span {
	color: #f02b63;
}
.by {
	float: right;
	padding-right: 10px;
}
.panel .like-a {
	overflow: hidden;
    display: block;
    margin: 14px 20px;
    color: #303030;
    text-decoration: none;
}
.panel {
	display: none;

}
.panel input {
	display: none;
}

.panel .like-a input[type="checkbox"]+label span:first-child {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 2px solid #7db122;

    bottom: 3px;
}
.smb {
	padding-left: 20px;
    color: black;
    font-size: 16px;
}
.best {
	overflow: hidden;
	background-color: rgba(238, 238, 238, 0.63);
	margin: 15px 0;
}
.best-img {
	float: left;
	padding-top: 9px;
}
.best-detail {
	float: left;
}
.best-detail h6 {
    margin: 0;
    font-size: 15px;
    padding: 5px;
}
.best-detail p {
    margin: 0;
    font-size: 11px;
    padding-left: 6px;
    color: #aba9a9;
}
.best-detail ul {
    overflow: hidden;
    width: 143px;
    margin: 0;
    list-style: none;
    padding-left: 7px;
}
.best-detail ul b {
	float: left;
	padding: 0 10px;
}
.best-detail ul li {
    float: left;
    font-size: 10px;
    color: #aba9a9;
}
.best-detail ul li span {
	color: red;
	font-size: 13px;
}
